<tr>
        <td bgcolor="$status_indi_bgcolor" align="center">$game</td>
        <td bgcolor="$status_indi_bgcolor" align="center">$match</td>
        <td bgcolor="$status_indi_bgcolor" align="center">$date</td>
        <td bgcolor="$status_indi_bgcolor" align="center">$oppmatches $opponent$score2</td>
        <td bgcolor="$status_indi_bgcolor" align="center">$vs</td>
        <td bgcolor="$status_indi_bgcolor" align="center">$score1$teammatches $clanname</td>
        <td bgcolor="$status_indi_bgcolor" align="center">$details</td>
  </tr>