<br>
	   <table width="100%" cellpadding="4" cellspacing="1" bgcolor="#999999">
          <tr bgcolor="#CCCCCC">
           <td class="title" colspan="8">&nbsp; &#8226; Penalty Points for $name</td>
         </tr>
          <tr>
		   <td class="title" align="center">Points:</td>
		   <td class="title" align="center">Added by:</td>
		   <td class="title" align="center">Title:</td>
		   <td class="title" align="center">Description:</td>
		   <td class="title" align="center">Match Link:</td>
		   <td class="title" align="center">Auto-Remove:</td>
		   <td class="title" align="center">Action:</td>
         </tr> 
          <tr>
		   <td bgcolor="#ffffff" colspan="8"></td>
         </tr>