<table width="100%" cellpadding="4" cellspacing="1" bgcolor="#999999">
  <tr bgcolor="#CCCCCC">
    <td class="title" colspan="12">&nbsp; &#8226; $cupname $num - Participants</td>
  </tr>
  	<tr>
		<td class="title2"><b>Team</b></td>
		$tb_hd_ga
		$gs_group_head
		$show_lineup_hd
		<td class="title2" align="center" colspan="$a_cols"><b>Actions</b></td>
		<td class="title2" align="center" colspan="2"><b>Penalty Points</b></td>
		<td class="title2" align="center" colspan="2"><b>Delete</b></td>
    </tr>
	  <tr>
    <td  bgcolor="#ffffff" colspan="12"></td>
  </tr>
