   <tr>
    <td class="title2" colspan="2"><img src="images/cup/icons/go.png"> $pl[name]</td>
   </tr>
    <tr>
     <td width="25%" align="center" bgcolor="$bg1" rowspan="5">$logo</td>
     <td bgcolor="$bg1">$pl[descrip]</td>
    <tr>
     <td bgcolor="$bg2">$active_teams/$all_teams Active Teams</td>
   </tr>
    <tr>
     <td bgcolor="$bg1">$played_matches Played Matches</td>
   </tr>
   </tr>
    <tr>
     <td bgcolor="$bg2"><a href="?site=ladders&platID=$platID">$total_ladder_rows Ladders</a></td>
   </tr>
    <tr>
     <td bgcolor="$bg1"><a href="?site=cups&platID=$platID">$total_cup_rows Tournaments</a></td>
   </tr>
    <tr>
     <td colspan="2"></td>
   </tr>