
 <table width="100%" border="0" cellspacing="$cellspacing" cellpadding="$cellpadding">
  <tr bgcolor="$bg1">
  <td width="49%" valign="top">
  <table width="100%" cellpadding="$cellpadding" cellspacing="$cellspacing" bgcolor="$border">
        <tr bgcolor="$bg1"> 
          <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; Userpic</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td colspan="2" bgcolor="$pagebg"></td>
        </tr>
		<tr bgcolor="$bg1"> 
          <td height="215" align="center" bgcolor="$bg1">$userpic <br> $email <br>$pm <br>$buddy</td>
        </tr>
  </table>
  </td>
  <td width="10"></td>
  <td width="49%" valign="top">
    <table width="100%" cellpadding="$cellpadding" cellspacing="$cellspacing" bgcolor="$border">
        <tr bgcolor="$bg1"> 
          <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; Usergalleries</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td colspan="2" bgcolor="$pagebg"></td>
        </tr>
		<tr bgcolor="$bg1"> 
          <td height="215" align="center" bgcolor="$bg1">$usergallery</td>
        </tr>
  </table>
  </td>
  </tr>
  <tr bgcolor="$bg1"><td colspan="3" height="10"></td></tr>
  <tr bgcolor="$bg1">
    <td width="49%" valign="top" colspan="3"><table width="100%" cellpadding="$cellpadding" cellspacing="$cellspacing" bgcolor="$border">
        <tr bgcolor="$bg1"> 
          <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; Personal Info</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td colspan="2" bgcolor="$pagebg"></td>
        </tr>
 
        <tr bgcolor="$bg1"> 
          <td width="150" bgcolor="$bg1"><img src="images/profile/nickname.gif" width="16" height="16" /> Nickname:</td>
          <td bgcolor="$bg2"><b>$nickname</b> $member</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg3"><img src="images/profile/status.gif" width="16" height="16" /> Status:</td>
          <td bgcolor="$bg4">$status</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg1"><img src="images/profile/usertitle.gif" width="16" height="16" /> Usertitle:</td>
          <td bgcolor="$bg2">$usertype ( $rang )</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg3"><img src="images/profile/contact.gif" width="16" height="16" /> Contact:</td>
          <td bgcolor="$bg4">$icq $skype $xfirec $steam $msn $aim $yahoo <a href="javascript:void(0)" onclick="MM_openBrWindow('popup.php?site=shout&id=$id&type=userID','User Chat','toolbar=no,status=no,scrollbars=no,width=550,height=340');"><img src="shout/Discussion.png" width="16" height="16"></a>  </td>
        </tr>
$homepage_temp
$show_name
		$show_gender
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg1"><img src="images/profile/age.gif" width="16" height="16" /> Age:</td>
          <td bgcolor="$bg2">$birthday</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg3"><img src="images/profile/location.gif" width="16" height="16" /> Location:</td>
          <td bgcolor="$bg4">$profilecountry $town $prof_tz</td>
        </tr>
        <tr bgcolor="$bg1">
          <td bgcolor="$bg1"><img src="images/profile/registeredsince.gif" width="16" height="16" /> Registered since:</td>
          <td bgcolor="$bg2">$registered</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg3"><img src="images/profile/clock.gif" width="16" height="16" /> Last Login:</td>
          <td bgcolor="$bg4">$lastlogin</td>
        </tr>
      </table>
	  </td>
	  </tr>
	    
$about_temp  
$steam_temp  
$xfire_temp	  	  	  
$clan_temp  
$equip_temp	
	
      <table width="100%" cellspacing="$cellspacing" cellpadding="$cellpadding" bgcolor="$border">
        <tr bgcolor="$bg1"> 
          <td class="title" bgcolor="$bghead">&nbsp; &#8226; Latest Visitors <span class="small">&nbsp;&nbsp;&nbsp;(visited $anzvisits 
            times)</span></td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$pagebg"></td>
        </tr>
        $lastvisits
      </table>
	  </td>
    <td width="10">&nbsp;</td>
    <td width="49%" valign="top">

$fav_temp
      
      <table width="100%" cellspacing="$cellspacing" cellpadding="$cellpadding" bgcolor="$border">
        <tr bgcolor="$bg1"> 
          <td colspan="2" class="title" bgcolor="$bghead">&nbsp; &#8226; Statistics</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td colspan="2" bgcolor="$pagebg"></td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/profile/comment.gif" width="16" height="16" alt="" /> Forumtopics:</td>
          <td width="30%" align="center" bgcolor="$bg2">$anzforumtopics</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg3"><img src="images/profile/comment.gif" width="16" height="16" alt="" /> Forumposts:</td>
          <td bgcolor="$bg4" align="center">$anzforumposts</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg1"><img src="images/profile/comment.gif" width="16" height="16" alt="" /> Newsposts:</td>
          <td bgcolor="$bg2" align="center">$anznewsposts</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg3"><img src="images/profile/comment.gif" width="16" height="16" alt="" /> Newscomments:</td>
          <td bgcolor="$bg4" align="center">$comments[0]</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg1"><img src="images/profile/comment.gif" width="16" height="16" alt="" /> Clanwarcomments:</td>
          <td bgcolor="$bg2" align="center">$comments[1]</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg3"><img src="images/profile/comment.gif" width="16" height="16" alt="" /> Articlecomments:</td>
          <td bgcolor="$bg4" align="center">$comments[2]</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg1"><img src="images/profile/comment.gif" width="16" height="16" alt="" /> Democomments:</td>
          <td bgcolor="$bg2" align="center">$comments[3]</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td bgcolor="$bg3"><img src="images/profile/in.gif" width="16" height="16" alt="in" /> Messenger (IN):</td>
          <td bgcolor="$bg4" align="center">$pmgot</td>
        </tr>
        <tr bgcolor="$bg1">
          <td bgcolor="$bg1"><img src="images/profile/out.gif" width="16" height="16" alt="out"/> Messenger (OUT):</td>
          <td bgcolor="$bg2" align="center">$pmsent</td>
        </tr>
      </table>  
      <br />
      
$cup_stats_show
      
<div class="slidingDiv_cs"> 
       <table width="100%" cellspacing="$cellspacing" cellpadding="$cellpadding" bgcolor="$border">
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/cup/icons/add_result.gif" width="16" height="16" alt="" />  
			Total Matches:</td>
          <td width="30%" align="center" bgcolor="$bg2"><a href="?site=matches&action=viewmatches&memberID=$id">$totaltotalusermatches</a></td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/cup/icons/add_result.gif" width="16" height="16" alt="" />  
			Open Matches:</td>
          <td width="30%" align="center" bgcolor="$bg2"><a href="?site=matches&action=viewmatches&memberID=$id">$openmatches</a></td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/cup/success.png" width="16" height="16" alt="" />  
			Matches Won:</td>
          <td width="30%" align="center" bgcolor="$bg2"><a href="?site=matches&action=viewmatches&memberID=$id">$matcheswon</a></td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/cup/error.png" width="16" height="16" alt="" />  
			Matches Lost:</td>
          <td width="30%" align="center" bgcolor="$bg2"><a href="?site=matches&action=viewmatches&memberID=$id">$matcheslost</a></td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/cup/icons/rank_up.gif" width="16" height="16" alt="" />  
            Confirmed Matches:</td>
          <td width="30%" align="center" bgcolor="$bg2"><a href="?site=matches&action=viewmatches&memberID=$id">$confirmedmatches</a></td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/cup/icons/rank_down.gif" width="16" height="16" alt="" />  
			Match Protests:</td>
          <td width="30%" align="center" bgcolor="$bg2"><a href="?site=matches&action=viewmatches&memberID=$id">$matchprotests</a></td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/cup/icons/challenge.gif" width="16" height="16" alt="" />  
			Pending Matches:</td>
          <td width="30%" align="center" bgcolor="$bg2"><a href="?site=matches&action=viewmatches&memberID=$id">$pendingmatches</a></td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/cup/icons/points.png" width="16" height="16" alt="" /> 
          Won Points:</td>
          <td width="30%" align="center" bgcolor="$bg2">$userwonpoints</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/cup/icons/points.png" width="16" height="16" alt="" /> 
          Lost Points:</td>
          <td width="30%" align="center" bgcolor="$bg2">$userlostpoints</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/cup/icons/points.png" width="16" height="16" alt="" /> 
          Score Ratio:</td>
          <td width="30%" align="center" bgcolor="$bg2">$userscoreratio%</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/profile/awards.png" width="16" height="16" alt="" />  Awards:</td>
          <td width="30%" align="center" bgcolor="$bg2">$cups</td>
        </tr>
        <tr bgcolor="$bg1"> 
          <td width="70%" bgcolor="$bg1"><img src="images/cup/icons/rank.gif" width="16" height="16" alt="" />  Skill:</td>
          <td width="30%" align="center" bgcolor="$bg2">$user_skill</td>
        </tr>
      </table>
</div>
      
       </td><br>
       $editgacc
       $show_tb_st
	 $game4
	 $profile_teams					
	 $all_cups
	 $userpoints
	 $ma
       $show_tb_ed